.detail {
    padding: 2em 4em;
    width: fit-content;
    max-width: 900px;
    margin-bottom: 3rem;
    /* border: solid #000 2px; */
}

.detail p {
    font-size: 1.2rem;
}

.detail h2 {
    text-align: left;
}

.detail:nth-of-type(2) {
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .detail {
        padding: .5em 1em;
    }
}