.card {
  background-color: var(--color-4);
  border: solid #000 2px;
  box-shadow: #000 5px 5px;
  display: flex;
  flex-direction: row;
  padding: 1em;
  font-size: 1rem;
  margin: 1em 0;
  height: 180px;
  width: 736px;
  min-width: unset !important;
  transition: box-shadow 500ms;
}

.card:hover {
  box-shadow: none;
}

.jobCard {
  background-color: var(--color-4);
  border: solid #000 2px;
  box-shadow: #000 5px 5px;
  display: flex;
  flex-direction: row;
  padding: 1em;
  font-size: 1rem;
  margin: 1em 0;
  height: 160px;
  width: 736px;
  min-width: unset !important;
  transition: box-shadow 500ms;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

.detailsContainer {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
}

.detailsContainer span {
  margin-bottom: 0.5em;
}

.details span {
  white-space: nowrap;
}

.benefitsContainer ul li {
  white-space: nowrap;
}

.benefitsContainer {
  width: 50%;
  margin-right: .5rem;
}

.benefitsContainer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;
}

.benefitsContainer li {
  text-align: center;
  margin: 0.5em;
  font-size: 0.75rem;
  font-weight: bold;
}

.details {
  font-size: 0.75rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  align-items: flex-start;
}

.jobStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: .5rem;
}

.link {
  color: #000 !important;
}

.start {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bioContainer {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.skills {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .skills {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .detailsContainer {
    overflow-x: scroll;
  }

  .detailsContainer::-webkit-scrollbar {
    height: 5px;
  }

  .detailsContainer::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
  }

  .detailsContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(125, 125, 125, 0.5);
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    height: 180px;
    width: 100%;
  }

  .jobCard {
    flex-direction: column;
    height: 190px;
    width: 100%;
  }

  .jobStart {
    width: 100%;
    align-items: flex-start;
  }

  .benefitsContainer {
    margin-top: .25rem;
    margin-right: 0;
    width: 100%;
    min-height: 45px;
    height: 45px;
    overflow: hidden;
    overflow-x: scroll;
  }

  .benefitsContainer ul {
    flex-wrap: nowrap;
    height: 100%;
  }

  .details {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .logoContainer {
    align-self: flex-start;
  }

  .jobStart {
    margin-right: 0;
  }
  .date {
    position: absolute;
    right: 50px;
  }

  .detailsContainer {
    width: 100%;
  }

  .benefitsContainer::-webkit-scrollbar {
    height: 5px;
  }

  .benefitsContainer::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
  }

  .benefitsContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(125, 125, 125, 0.5);
  }
}

@media screen and (max-width: 500px) {
  .date {
    right: 40px;
  }

  /* .card {
      height: 220px;
    } */

  .details {
    width: 100%;
  }

  .logoContainer img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .date {
    right: 15px;
  }
}
