.start {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bioContainer {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.skills {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .skills {
    display: none;
  }
}
