.experience {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.experience input {
  width: 210px;
}

.experience button {
    margin-top: 1em;
    align-self: center;
}

.projects {
  display: flex;
  flex-direction: column;
}

.fieldExtension {
  width: 70%
}

.fieldContainer, .sizeInput {
  width: 70%;
}

.fieldContainer div input{
  width: calc(50% - 8px);
}

@media screen and (max-width: 425px) {
  .fieldContainer, .sizeInput {
    width: 100%;
  }

  .fieldExtension {
    width: 100%;
  }

  .fieldContainer div input {
    width: 100%
  }

  .experienceInputContainer {
    display: flex;
    flex-direction: column;
  }
}
