@import url("./navigation.css");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: grifter;
  src: url("/fonts/grifterbold.otf");
  font-display: swap;
}

@font-face {
  font-family: clashDisplayRegular;
  src: url("/fonts/ClashDisplay-Regular.ttf");
}

@font-face {
  font-family: clashDisplayMedium;
  src: url("/fonts/ClashDisplay-Medium.ttf");
}

@font-face {
  font-family: chillaxMedium;
  src: url("/fonts/Chillax-Medium.ttf");
}

@font-face {
  font-family: chillaxRegular;
  src: url("/fonts/Chillax-Regular.ttf");
}

@font-face {
  font-family: satoshi;
  src: url("/fonts/Satoshi-Regular.ttf");
}
@font-face {
  font-family: mabry;
  src: url("/fonts/Mabry-Pro-Medium.ttf");
  font-display: swap;
}
* {
  box-sizing: border-box;
}

:root {
  --link-color: rgb(0, 106, 255);
  --color-1: #ceff1a;
  --dark-color-1: #e0ff6e;
  --color-2: #3A3752;
  --color-3: #7af3ff;
  --color-4: #f2f5f2;
  --color-5: #6637ee;
  --color-6: #ff3ce5;
  --color-7: #fb6612;
  --red: #ff2727;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  font-family: satoshi;
}

#__next {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select, textarea {
  font-family: Inter;
  font-size: 1rem;
}

button {
  border-radius: 5px;
  width: fit-content;
  border: none;
  /* border: solid #000 2px; */
  padding: 0.5em;
  color: #000;
  cursor: pointer;
  font-family: clashDisplayMedium;
  padding: .35em 1em;
  /* box-shadow: #000 3px 3px; */
  font-size: 1.125rem;
  transition: transform 500ms;
}

button:hover {
  transform: translateY(-5px);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

h1,
h2,
h3 {
  font-family: clashDisplayRegular;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .75px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2rem;
}

a {
  color: #000;
  text-decoration: none;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 2000px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 3rem;
    line-height: 3.35rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.88rem;
  }
  h3 {
    font-size: 1.46rem;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.35rem;
  }
  body {
    background-position: center;
    background-attachment: unset;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.65rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.35rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
