.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container2 {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* .heroImage {
  width: 619.65px;
  height: 305.55px;
} */

.heroText {
  font-family: clashDisplayMedium;
  font-size: 6rem;
  font-weight: 500;
  margin: 0;
  text-align: left;
  text-transform: none;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.tagLine {
  font-size: 1.6rem;
}

.buttonContainer {
  margin-top: 2rem;
}

.buttonContainer button {
  padding: 1em 2.75em;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 10rem;
  }

  .container2 {
    flex-direction: column;
    justify-content: unset;
  }

  .heroText {
    text-align: center;
  }

  .heroImage {
    text-align: center;
    margin-top: 2rem;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 8rem;
  }
  
  .heroText {
    font-size: 4rem;
  }

  .tagLine {
    font-size: 1.3rem;
    text-align: center;
  }
  .heroImage {
    width: 90%;
    height: auto;
  }

  .textContainer {
    align-items: center;
  }

  .buttonContainer button {
    padding: .5em 1.375em;
  }
}

@media screen and (max-width: 375px) {
  .heroText {
    font-size: 3rem;
  }
  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }

  .buttonContainer button {
    margin-right: 0 !important;
    margin-bottom: 1em;
  }
}