.container {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuresContainer {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
  font-size: 1.5rem;
  font-family: clashDisplayRegular;
  font-weight: bold;
}

.featureEmoji {
  font-size: 3rem;
}

.featureSmall {
  font-size: 1rem;
  font-weight: normal;
  margin-top: auto;
}

.explanation {
  max-width: 1000px;
  font-size: 1.2rem;
}
.explanation2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
}

.explanation2 p {
  font-size: 2rem;
  padding: .5em 2em;
  border: solid #000 2px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.details img {
  margin-right: 2rem;
  width: 40%;
  height: auto;
}
/* @media screen and (max-width: 1200px){
  .details img {
    width: 600px;
    height: auto;
  }  
} */

.sectionPad {
  padding: 0em 2em 1em 2em;
}

.section1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--color-4);
  padding-bottom: 2em;
  border: solid #000 2px;
}

@media screen and (max-width: 1024px){
  .details {
    flex-direction: column;
  }
  .details img {
    margin: 0;
    margin: 2rem 0;
    width: 90%;
    max-width: 600px;
    height: auto;
  }  

  .feature {
    font-size: 1.25rem;
    width: 200px;
  }

  .featureEmoji {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .explanation2 {
    flex-direction: column;
    justify-content: center;
  }

  .explanation2:nth-of-type(2),
  .explanation2:nth-of-type(4) {
    flex-direction: column-reverse;
  }
  .explanation2 p {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .featuresContainer {
    flex-direction: column;
  }

  .explanation {
    padding: 0 0.5em;
  }
}

@media screen and (max-width: 425px) {
  .sectionPad {
    padding: 1em;
  }

  .details {
    padding: 0 1em;
  }
  .explanation2 p {
    font-size: 1.3rem;
  }

  .explanation2 img {
    width: 90%;
    height: auto;
  }
}
