.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  margin: 3rem 0;
  padding-bottom: 2em;
  border-radius: 10px;
  box-shadow: rgba(128, 128, 128, 0.219) 1px 1px 10px;
}

.form h2 {
  text-align: left;
}

.form section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5em;
}

.fieldContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 0;
}

.customisationsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.fieldContainer input {
  font-size: 1rem;
}

.fieldContainer label {
  font-size: 1rem;
  min-width: 40%;
}

.customisations {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  align-self: flex-start;
}

.customisations label {
  margin: 0 !important;
  margin-left: 1em !important;
}
@media screen and (max-width: 600px) {
  .form section {
    padding: 0 2em;
  }
}

@media screen and (max-width: 425px) {
  .fieldContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .fieldContainer label {
    margin-bottom: 0.5rem;
  }

  .form section {
    padding: 0 1em;
  }
}
