.container {
  display: flex;
  flex-direction: column;
}

.searchContainer {
  align-self: center;
  width: 50%;
  min-width: 280px;
  margin-bottom: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: solid #000 2px;
  box-shadow: #000 5px 5px;
  padding: .5em;
}

.search {
    font-family: Inter;
    font-size: 1.25rem;
    width: 90%;
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  max-width: 1000px;
  align-self: center;
}

.jobListContainer {
    max-width: 1000px;
    min-height: 500px;
    align-self: center;
}

.filtersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filtersList div {
  margin: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width:fit-content;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .filtersContainer {
    width:100%;
  }
}
@media screen and (max-width: 768px) {
  /* .filtersContainer {
    justify-content: center;
  } */
  .filterOption {
    margin: .25em;
  }

  .jobListContainer {
    width: 100%;
  }
}

@media screen and (max-width: 407px) {
  /* .filtersContainer, .filtersList {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
    justify-content: unset;
  } */
  .filtersList {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
    justify-content: unset;
  }

  .filtersContainer::-webkit-scrollbar, .filtersList::-webkit-scrollbar {
    height: 5px;
  }

  .filtersContainer::-webkit-scrollbar-track, .filtersList::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
  }

  .filtersContainer::-webkit-scrollbar-thumb, .filtersList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(125, 125, 125, 0.5);
  }
}