.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.personalContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  /* color: rgb(255, 27, 27); */
}

.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactBtns {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 1rem;
  width: fit-content;
}

.bio {
  width: 100%;
  margin: 1rem 0 0 0;
}

.section {
  border-bottom: solid rgba(128, 128, 128, 0.408) 1px;
  padding-bottom: 1rem;
  padding: 0 2rem;
}

.education {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.section h2 {
  max-width: 100%;
  margin-bottom: 0;
}

.section a {
  color: var(--link-color);
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section span {
  line-height: 1.28rem;
}
.section:last-child {
  border: none;
}
.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.projectDescription {
  width: 80%;
}

.resume {
  white-space: nowrap;
}

@media screen and (max-width: 425px) {
  .projectDescription {
    width: 100%;
  }
  
  .section {
    padding: 0 1rem;
  }

  .personalContainer {
    flex-direction: column;
  }

  .bio {
    width: 100%;
  }

  .personalContainer img {
    align-self: center;
    margin: 1rem 0 !important;
  }

  /* .section div {
    min-width: 100% !important;
  } */
}

@media screen and (max-width: 375px) {
  .contactContainer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .contactBtns {
    margin: 1rem auto;
    margin-bottom: 0;
  }
}
