/*Formatting*/

.headerText {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: clashDisplayRegular;
  text-transform: capitalize;
}

.headerTextN {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: satoshi;
  text-transform: capitalize;
}

.headerTextNSmall {
  font-size: 1rem;
  font-weight: bold;
  font-family: satoshi;
  text-transform: capitalize;
}

.roundOut {
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 7px #00000050;
}

.leftAlignedText {
  text-align: left;
}

.containerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  min-width: fit-content;
  height: 38px;
  padding: 0 0 0 0.5em;
  background-color: #fff;
  margin: 0.2rem;
  border: solid #000 2px;
  border-radius: 5px;
  box-shadow: #000 3px 3px;
}

.mergeInputWithDiv {
  border: none;
  background-color: #fff;
  width: 100%;
}

.grayedOutText {
  color: rgb(71, 71, 71);
}
.filterResults span:first-child {
  border-top: none;
}

.filterResults span {
  padding: 0.25em 0;
  border-top: solid rgba(128, 128, 128, 0.408) 1px;
  width: 100%;
  cursor: pointer;
}

.filterResults span:hover {
  background-color: rgb(77, 150, 252);
}

.filterResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 220px;
  background-color: #fff;
  padding: 0.5em;
  border: solid rgba(128, 128, 128, 0.408) 1px;
  border-radius: 10px;
  box-shadow: rgba(128, 128, 128, 0.408) 1px 1px 10px;
  z-index: 1;
}

.itemBar {
  padding: 0.25em 0.5em ;
  border: solid #000 2px;
  border-radius: 10px;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  margin-left: 0.5rem;
  letter-spacing: 0.75px;
}

.profilePhoto {
  object-fit: cover;
  object-position: center;
  border: none;
  border-radius: 5px;
}

/*Form*/

.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-bottom: 1.25rem;
  border-bottom: solid rgba(128, 128, 128, 0.408) 1px;
}

.formSection:last-of-type {
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  background-color: var(--color-4);
  margin: 3rem 0;
  margin-bottom: 1rem;
  padding-bottom: 2em;
  border: solid #000 2px;
  box-shadow: #000 5px 5px;
}

.form h2 {
  font-size: 1.5rem;
  text-align: left;
}

.input {
  font-size: 1rem;
  padding: 0.5em;
  border: solid #000 2px;
  border-radius: 3px;
  box-shadow: #000 3px 3px;
  background-color: #fff;
  margin-left: 0.5rem;
}

.textarea {
  resize: none;
}

.fieldContainer,
.sizeInput {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.fieldContainer input,
.fieldContainer textarea .sizeInput input,
.sizeInput textarea {
  font-family: satoshi;
  width: 100%;
  font-size: 1rem;
}
.labelContainer {
  display: flex;
  flex-direction: column;
  margin: 1em 0 0.5em 0;
}

.labelContainer small {
  color: rgb(56, 56, 56);
}

.required::after {
  content: "*";
  color: red;
}

.fileInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fileInput {
  visibility: hidden;
  width: 0px !important;
}

.formButton {
  border-radius: 5px;
  font-size: 1rem;
  width: fit-content;
  border: solid #000 2px;
  padding: 0.5em;
  background-color: var(--color-1);
  color: #000;
  cursor: pointer;
  transition: background-color 500ms, color 500ms, box-shadow 500ms;
  font-family: clashDisplayRegular;
  font-weight: 600;
  padding: 0.35em 1em;
  box-shadow: #000 3px 3px;
}

.formButton:hover {
  box-shadow: none;
  background-color: var(--dark-color-1);
}

.checkBoxLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
}

.checkBoxLabel input {
  height: 1rem;
  width: 1rem;
}

.inputAndAddButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputAndAddButton input {
  margin-right: 1rem;
}

@media screen and (max-width: 500px) {
  .headerText {
    max-width: 260px !important;
  }
}

@media screen and (max-width: 425px) {
  .filterResults {
    width: 200px;
  }
  .formSection {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
  .fieldContainer,
  .sizeInput {
    width: 100%;
  }

  .input {
    width: 95% !important;
  }
}

@media screen and (max-width: 390px) {
  .headerText {
    max-width: 180px !important;
  }
}
